@font-face {
    font-family: 'Pixelmania';
    src: url('Pixelmania.woff2') format('woff2'),
        url('Pixelmania.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

